* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: sans-serif;
}

div.slides {
  width: 100%;
  height: 600;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(rgb(3, 92, 170), rgb(11, 14, 5));
  margin: 0%;
  position: relative;
  z-index: 1;
  align-items: center;
}

div.middle {
  margin: auto;
  margin-top: -1%;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(7, 178, 235));
  display: flex;

  z-index: 1;
  justify-content: space-around;
}

.card {
  margin-top: 5%;
  width: 300px;
  height: 360px;
  border-radius: 15px;
  padding: 1rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card .info h1 {
  margin: 0px;
  
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

.card .info button {
  padding: 0.6rem;
  align-items: flex-start;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.card .info button:hover {
  background: dodgerblue;
  color: white;
}

body {
  background-color: #82d8f5;
}

.middle_main {
  position: relative;
}

.top_middle {
  position: relative;
  background-color: #0496c7;
  width: 50%;
  height: 5%;
  margin-top: 2%;
  left: 25%;
  z-index: 2;
  text-align: center;
  border-radius: 20px;
}

.middle_with_images {
  position: relative;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(rgb(162, 98, 38), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
}

.columns {
  margin: auto;
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  height: 70%;
}

.middle_with_images h1 {
  text-align: center;
  font-family: cursive;
  margin-bottom: 0%;
}

.images_side {
  width: 40%;
  height: 90%;
  background-image: url(../images/image1.jpg);
  margin: auto;
  margin-top: 3%;
  border: 2px solid #078a69;
  border-radius: 20px;
}

.text_side {

  margin: auto;
  margin-top: 4%;
  color: rgb(0, 255, 64);
  line-height: 35px;

  width: 40%;
  height: 90%;
}

.text_side>p {
  font-weight: bold;
  text-align: justify;
}

.text_background_img {
  position: relative;
  padding-top: 3%;
  width: 100%;
  height: 50%;
  background-image: url(../images/image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
  top: 0;
  left: 0;
}

.top-text>p {
  font-family: cursive;
  margin-left: 4%;
  font-size: 18px;
  line-height: 2em;
  margin-right: 3%;
  margin-top: 2%;
  color: rgb(5, 255, 17);
}

.top-text h1 {
  margin-top: 7%;
  margin-left: 4%;
  background-color: #ffffff2f;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  color: aquamarine;
}

.top-text hr {
  margin-left: 3%;
  margin-top: 3%;
  height: 48%;
}


.top_main {
  margin-top: 80px;
  height: 700px;
  display: flex;
  padding: 0%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,
      rgba(145, 255, 0, 0),
      rgba(0, 164, 228, 1));
}

.top_main img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  position: relative;
  margin: 0%;
  padding: 0%;
  z-index: -1;

}

.top_main .main_text {
  position: absolute;
  z-index: 2;
  right: 0%;
  top: 240px;
  color: rgb(255, 255, 255);
  width: 40%;
  height: 530px;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: "Rammetto One";
}

.slides_img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: relative;
  margin: 0%;
  padding: 0%;
}

.mission_box {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.274);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  min-height: 200px;
}

.mission_box h1 {
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 1000;
  font-size: 40px;
  color: #0d6b9e;

}

.mission_box p {
  margin-left: 4%;
  text-align: justify;
  margin-right: 4%;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
  line-height: 45px;
}