:root {
  --primaryColor: #ffb534;
  --mainWhite: rgb(251, 246, 238);
  --mainBlue: #096799;
  --subBlue: #74C3ED;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
.logo_link{
  text-decoration: none;
  color: var(--mainWhite);
}
nav {
  letter-spacing: var(--mainSpacing);
  
  font-family: "Poppins", sans-serif;
  font-size:20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  max-height: 160px;

  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--mainBlue);
  color: var(--mainWhite);
  height: 120px;
  

}
.site-logo {
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15.5px;
  padding: 0;
  transition: 0.3s;
}

.logo-white,
.logo-blue {
  aspect-ratio: 1;
  height: 5.2rem;
  transition: opacity 0.3s ease-in-out;
}

.logo-blue {
  display: none;
}

.topic {
  width: 8rem;
  border-radius: 0 15px 15px 0;
  padding-left: 0.5rem;
  line-height: 0.99;
}

.site-logo:hover {
  color: #027fc2;
  background-color: var(--mainWhite);
  transition: 0s;
}


.desktop-menu {
  display: none;
  align-items: center;
  margin: 0 -1rem;
}

.desktop-menu a {
  font-weight: bold;
  margin: 0 1rem;
  padding: 10px;
  border-radius: 15px;
  color: var(--mainWhite);
  text-decoration: none;
  transition: 0.3s;
}

.desktop-menu a:hover {
  background-color: var(--mainWhite);
  color: var(--mainBlue);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.hamburger span {
  color: var(--mainWhite);
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
}

.hamburger span:hover {
  background-color: var(--mainWhite);
  color: var(--mainBlue);
  border-radius: 50%;
  transform: rotate(180deg);
}

.hamburger span:focus-visible {
  background-color: var(--mainWhite);
  color: var(--mainBlue);
  border-radius: 50%;
}

.mobile-menu {
  font-family: "Noto sans", sans-serif;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 500px; */
  z-index: 999;

  padding-top: 6.625rem;
  padding-bottom: 1rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  transition: 0.3s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  display: block;
  padding: 1rem;
  color: var(--mainWhite);
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.3s;
}

.mobile-menu a:hover {
  color: var(--mainBlue);
  background-color: var(--mainWhite);
}
.active {
  background: rgba(255, 255, 255, 0.063);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2), 0 0px 5px rgba(4, 4, 4, 0.3);
  backdrop-filter: blur(6px);
  
  
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease-in-out;
}
  .mobile-menu .active {
    border-radius:8px;
  }


@media (min-width: 1024px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .desktop-menu {
    display: flex;
  }
}

