    
        *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  body {
    font-family: Arial, sans-serif;
    color: #f7f4f4;
    background-image: url(./images/feed_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    align-content: center;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);text-align: center;
    margin-top: 150px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    gap: 10px;
  }

  label {
    font-weight: bold;
  }

  input.text_filds,
  textarea.text_filds {margin-left: 3%;
    margin-bottom: 3%;
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
  }
  
  .updates{
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    height: 40px;
  }
  .updates option{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  button[type = button] { 
    width: 100%;
    padding: 9px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .container button:hover {
    background-color: #0056b3;
  }

  #error-message {
    color: rgb(12, 2, 68);
    text-align: center;
    font-weight: bold;
  }
  .radio_button_area {
    margin: 3%;
    margin-top: 1%;
  }
  .radio_button_area h3{
    margin-bottom: 2% ;
  }
  .rating_area {
    margin: 3%;
    margin-top: 0;
  }
  .rating_area h3{
    margin-bottom: 2%;
  }
  .rating_area  label {
    display: inline;
    vertical-align: top;
  }
  .rate_radio{
    display: flex;
    flex-direction: column;
  }
  .rate_flex{
    display: flex;
    justify-content: space-around;
  }
  .container h1{
    margin-bottom: 2%;
  }
  select {
    margin-top: 2%;
    margin-bottom: 2%;
  }
    