@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
  position: relative;
  width: 100%;
  background: #027fc2;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.menu_item {
  list-style: none;
}
   
.menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px; 
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  background-color: #004f7a;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid white;
}

.menu_link:hover {
  opacity: 1;
  font-weight: bold;
  background-color: #003356;
}

.footer p {
  text-align: center;
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight:300;
}