/*General Styles*/
body{
    font-family: 'Arial',sans-serif;
    text-align: center;
    background-color: #1b4f72;
    color: white;
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    padding: 20px;
    background-color: #0e3b5a;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
}

header p{
    font-size: 18px;
    margin-top: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Button*/
main{
    margin-top: 30px;
}

button{
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #2e86c1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1b4f72;
}